
/*<----------------------Splash Screen -------------------------->*/

body {
    background-image: url(../images/background.jpg);
    background-size: cover;
}

.startPage {
    min-height: 80vh;
    width: 75%;
    margin: 4rem auto;
    background-color: rgba(244, 244, 244, 0.40);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .startPage h1 {
      font-family: fantasy;
      font-size: 50px;
      color:rgba(115, 50, 50,0.8);
      
  }

  .startButton {
    text-transform: uppercase;
    color: rgb(115, 50, 50);
    font-size: 20px;
    padding: 10px 100px;
    border: 2px solid white;
    background-color: rgba(249,182,82, 0.6);
    border-radius: 20px;
    outline: none;
  }
    
  /*<-------------------------Card Style --------------------------------->*/
  
.gamePage {
  min-height: 80vh;
  width: 85%;
  margin: 4rem auto;
  background-color: rgba(244, 244, 244, 0.40);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  display: inline-block;
  align-items: center;
  height: 250px;
  width: 200px;
  margin: 7px;
  border: 5px solid rgb(71, 71, 71);
  background-color: white;
  cursor:grabbing;
}

.selectedImage {
  border: 5px solid rgb(146, 146, 146);
} 

.wrongAnswer {
  border: 5px solid rgb(245, 71, 59);
} 

.correctAnswer {
  border: 5px solid rgb(43, 206, 116);
} 

.missingAnswer {
  border: 5px solid rgb(73, 111, 194);
} 